modules = ["web", "nodejs-20", "python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 41303929
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
